html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: -10px;
  padding: 0;
  background-color: rgb(230, 230, 230);
  color: rgb(230, 230, 230);
}

header {
  /* background-color: rgb(202, 177, 144);  */
  background: url(../../public/images/header-bottles.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* display: flex; */
  /* align-content: right; */
}

header > img {
  margin: 20px 0 10px 20px;
}

ul {
  display: flex;
  border: 2px solid rgb(38, 51, 42);
  justify-content: flex-end;
  /* float: right; */
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

a:hover {
  color: rgb(38, 51, 42);
}

li {
  list-style: none;
  padding: 10px;
}

main {
  border: 1px solid rgb(38, 51, 42);
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  margin: 15px;
  padding: 0 20px 10px 20px;
  color: rgb(38, 51, 42);
  /* display: flex; */
}

main > h1 {
}

.bar {
  margin: 5px;
  border: 2px solid rgb(38, 51, 42);
  padding: 10px;
}

.main-img > img {
  max-width: 300px;
  float: right;
}
